<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Team 35 Logbook{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>TEAM 35 LOGBOOK</h1>
      <form id="searchform" action="{% url 'search_post' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        Search
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search Post">
      <p>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </form>
    </main>
  </body>
</html>
