{% extends 'base.html' %}

{% block content %}
  <h2>Create Post</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in post_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'view_categories' %}">View Categories</a>
  <a href="{% url 'view_posts' %}">View Posts</a>
  <a href="{% url 'create_post' %}">Create a post</a>
  <a href="{% url 'create_category' %}">Create a category</a>
{% endblock %}