{% extends 'base.html' %}
{% block title %}Welcome to TEAM 35 LOGBOOK{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Welcome, {{ user.get_full_name }}!</h2>
  <p>Your email address: {{ user.email }}</p>
    <a style="margin-left:5px" href="{% url 'view_categories' %}">View Categories</a>
    <a style="margin-left:5px" href="{% url 'view_posts' %}">View Posts</a>
    <a style="margin-left:5px" href="{% url 'create_post' %}">Create a post</a>
    <a style="margin-left:5px" href="{% url 'create_category' %}">Create a category</a>
  </div>
{% endblock %}
