{% extends 'base.html' %} 
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {{ post.body }}
    <form action="{% url 'delete_post' post.slug %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" /></form>
    <form action="{% url 'edit_post' post.slug %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Edit" /></form>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'view_categories' %}">View Categories</a>
    <a href="{% url 'view_posts' %}">View Posts</a>
    <a href="{% url 'create_post' %}">Create a post</a>
    <a href="{% url 'create_category' %}">Create a category</a>
{% endblock %}