{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <form id="searchform" action="{% url 'search_post' %}" method="get" accept-charset="utf-8">
        <button class="searchbutton btn btn-success" type="submit">
            Search
        </button>
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search Post">
    </form>
  <h2>List of all posts</h2>
    {% if posts %}
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>
        {% endfor %}

    {% else %}
        <p>There are no posts.</p>
    {% endif %}
    <div style="margin-top:50px" >
    <a style="margin-left:5px" href="{% url 'home' %}">Home</a>
    <a style="margin-left:5px" href="{% url 'view_categories' %}">View Categories</a>
    <a style="margin-left:5px" href="{% url 'create_post' %}">Create a post</a>
    <a style="margin-left:5px" href="{% url 'create_category' %}">Create a category</a>
   </div>
</div>
{% endblock %}
